*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
}

html {
    font-size: 100%;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;}

header {
    background: linear-gradient(to right, #ff00007f, #ff80007f, #ffff0084, #00ff0085, #0000ff76, #4c008279, #8c00ff80);
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    text-align: center;
    flex-shrink: 0; 
}

h1 {
    font-size: 3rem;
}

main {
    background-color: #e0e0e0d0;
    display: flex;
    justify-content: center;
    align-items:start;
    text-align: center;
    flex: 1; 
    margin-bottom: 1.5rem;

}

h2{
    font-size: 2rem;
    margin-top: 3rem;
}

#texto {
    margin: 2rem 10rem;
    font-size: 1.3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2.5rem;
}

#generar-paleta{
    margin-top: 2rem;
}

#texto-label{
    font-size: 2rem;
}

select{
    font-size: 1.3rem;
    font-weight: 800;
    text-align: center;
    padding: 1rem 1rem;
    color: #000;

    background: linear-gradient(
    180deg,
    #ff80007f,
    #8c00ff80
  );

  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,.15);
}

footer {
    background-color: #555151;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    flex-shrink: 0; 
}

