/* RESET Y GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { 
    height: 100%; 
}

html { 
    font-size: 100%; 
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */
header {
    background: linear-gradient(to right, #ff00007f, #ff80007f, #ffff0084, #00ff0085, #0000ff76, #4c008279, #8c00ff80);
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    text-align: center;
    flex-shrink: 0; 
}

h1 { 
    font-size: 3rem; 
}

main {
    background-color: #e0e0e0d0;
    display: flex;
    justify-content: center;
    align-items:start;
    text-align: center;
    flex: 1; 
    padding-bottom: 1.5rem;
}

h2 { 
    font-size: 2rem; margin-top: 3rem;
}

#texto {
    margin: 2rem 10rem;
    font-size: 1.3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2.5rem;
}

#generar-paleta{ 
    margin-top: 2rem; 
}



select{
    font-size: 1.3rem;
    font-weight: 800;
    text-align: center;
    padding: 1rem 1rem;
    color: #000;
    background: linear-gradient(180deg,#ff80007f,#8c00ff80);
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
}

#contenedor-paletas {
    display: none; /* todo oculto al inicio */
    margin: 2rem auto;
    width: 90vw;
}

/* BLOQUES DE COLOR */
.bloque-color {
  flex: 1;
  min-width: 0; /* evita overflow por padding/margen */
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* los códigos abajo */
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  position: relative;
  padding-bottom: 10px; /* espacio para los códigos */
}



.codigos-color {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.bloque-color:hover { 
    transform: scale(1.04); 
}

.codigo-hex, .codigo-hsl {
  background: rgba(255,255,255,0.8);
  padding: 4px 8px;
  margin: 2px 0;
  font-weight: bold;
  border-radius: 4px;
}
.btn-lock { 
    position: absolute; top: 10px; right: 10px; 
}

#toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  color: white;
  padding: 10px 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#toast.mostrar { 
    opacity: 1; 
}

@keyframes fadeIn { 
    from { 
        opacity: 0; transform: translateY(10px); 
    } 
    to { 
        opacity: 1; transform: translateY(0); 
    } 
}

.fila-guardada { 
    display: flex; margin-bottom: 10px; 
}

.mini-color{ 
    width: 30px; height: 30px; 
}




/* FOOTER */
footer {
    background-color: #555151;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    flex-shrink: 0; 
}
